@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DE+SAS:wght@100..400&display=swap');
nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 5px 10px;
    font-family: 'Montserrat', sans-serif;
}
nav a:hover {
    text-decoration: underline;
}
.nav-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 10px;
}
